/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/Tests/
C:\Users\cfgpo\OneDrive\Desktop\My Python course\Cornmanthe3rd-Plex-Other-python.ico
C:\Users\cfgpo\OneDrive\Desktop\My Python course\desktop.ini